# Core functionality - changes here should be rare!
/src/app.py                   @vijayacd
/src/backend/database.py      @vijayacd
/src/backend/routers/auth.py  @vijayacd

# The frontend will need refactored soon to be more object oriented.
/src/static/   @vijayacd
